.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0; 
    width: 100%;
    
    position: sticky;
    top: 0;
    z-index: 100; 
    background: rgba(0, 0, 0, 0.15); 
    backdrop-filter: blur(8px);
}

@media (max-width: 600px) {
    .nav-container {
        flex-direction: row; 
        flex-wrap: wrap; 
        gap: 8px; 
        padding: 10px 5px; 
    }
}